
:root 
{
    --primary-color: #5c48ee;
    --primary-color-dark: #0f1e6a;
    --secondary-color: #f9fafe;
    --text-color: #333333;
    --white: #ffffff;
    --max-width: 1200px;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.sidenav
{
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f3f5f7;
    padding-top: 10px;
}

.sidenav-title
{
    color: var(--primary-color);
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.sidenabar-course
{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 20px;
}

.sidenabar-course a{
    text-decoration: none;
    font-size: 18px;
    padding: 20px;
    color: #111;
}

.vertical-navbar
{
    margin-left: 200px;
    padding: 20px;
    background-color: #fcfcfd;
}

.vert-nav
{
    overflow: hidden;
    background-color: #fcfcfd;
    display: flex;
    flex-direction: row;
}

#vert-nav-elements
{
    margin-left: 50%;
    margin-top: 10px;
}

.vert-nav h2
{
    color: #9e76ec;
    font-weight: 600;
    font-size: 20px;
}

#v-n-c1
{
    color: black;
    font-weight: 400;
    font-size: 16px;
}